extends layout

block content

	h1 Add Event

	form#formAddUser(name="addevent",method="post",action="events/addevent")
		
		table
		
			tr
				td
					p Name
				td
					input#inputEventName(type="text", placeholder="name", name="name")

			tr
				td
					p Date
				td
					input#inputEventName(type="date", placeholder="date", name="date")

			tr
				td
					p Type
				td
					input#inputEventName(type="text", placeholder="type", name="type")

		button#btnSubmit(type="submit") submit