doctype html

html

	head

		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')

	body

		// Temporary Nav
		
		a(href= "/events/") Home 
		a(href= "/events/list") Event List 
		a(href= "/events/addevent") Add Event 
		a(href= "/events/editevent") Edit Event 
		
		block content