doctype html

html

	head

		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')

	body

		// Temporary Nav
		
		a(href= "/") Home 
		a(href= "/events/list") Event List 
		a(href= "/addevent") Add Event 
		a(href= "/editevent") Edit Event 
		
		block content